
/* GLOBAL STYLES */
a {
    color: #ff54f4;
}

h2 {
    font-size: 30px;
}

/* SOCIAL STYLES */
.social-link {
    background: rgba(150, 150, 150, 0.2);
    color: #0000ff;
}

/* BIO STYLES */
.bio-box {
    border: 10px solid black;
    width: 200px;
}
.bio-copy a {
    color: #008000;
}
